.form {
  /*width: 12%;*/
  /*margin: 0 auto;*/
  border: 1px solid black;
  width: 50vw;
  border-radius:20px;
  position: fixed;
  top: 40%;
  left: 20%;
}

#first{
  border: 1px solid green;
  border-radius: 8%
}
