body{
  background-color: #A4D4B4;
  padding-top: 10%;
  font-family: 'Abril Fatface', cursive;
}

.formDiv{
  background-color: #3B1C32;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  margin: 0 auto;
  border-radius: 2%;
  max-width: 60%;
  padding: 40px;
  margin: 40px auto;

}

a{
  /*background-color: #1C3A13;*/
  /*border: 1px solid #1C3A13;*/
  /*color: #ffffff;*/
  display: inline-block;
  padding-bottom: 2%;

}
#signUp{
  /*background-color: #A4D4B4;*/
  text-align: center;
  font-size: 3em;
  text-decoration: none;
  border-radius: 3%;
  padding-bottom: 1%;
  padding-right: 2%;
  margin-bottom: 5%;
}
#logIn{
  /*background-color: #A4D4B4;*/
  text-align: center;
  font-size: 3em;
  text-decoration: none;
  border-radius: 3%;
  padding-bottom: 1%;
  margin-bottom: 5%;
}
