body{
  background-color: #A4D4B4;
  padding-top: 10%;
  font-family: 'Abril Fatface', cursive;
}

.formDiv{
  background-color: #CA054D;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  margin: 0 auto;
  border-radius: 2%;
  max-width: 60%;
  padding: 40px;
  margin: 40px auto;

}

button{
  background-color: #1C3A13;
  border: 1px solid #1C3A13;
  color: #ffffff;

}
#signUp{

}
#first{

}
