body{
  box-sizing: border-box;
  font-family: monospace;
  color: #696969;
  background: linear-gradient(100deg, #7A3E48, #EECD86);
}

.order{
  background: #ffffff;
  border-radius: 5px;
  width: 50%;
  margin: auto;
  margin-top: 5%;
  overflow: auto;
}

img{
  width: 10%;
}
ul{
  list-style: none;
}

h2{
  color: #696969;
  margin-left: 6%;
  font-size: .7em;
}

h5{
  text-align: left;
  color: #696969;
}
.money{
  margin-left: 12%;
  position: relative;
}

.pictures{
  width: 50%;
  float: left;
}
.card{
  width: 40%;
  display: inline-block;
}
input{
  margin-top: 5%;
  height: 32px;
}
