.frame{
  border: 10px solid #000000;
  background: #36494E;
  margin-top: 3%;
  border-radius: 6%;
}
input{
  margin-top: 3%;
  margin-left: 5%;
  width: 56%;
  height: 10vh;
  font-size: 2em;
}
button{
  width: 25%;
  margin-left: 5%;
  margin-top: 6%;
  margin-bottom: 5%;
}
.clear{
  margin: 0px;
  margin-left: 5%;
}
.bottom{
  margin-bottom: 3%;
}
