.frame{
  border: 20px solid #f39c12;
  border-radius: 5%;
  height: 50vh;
  width: 40%;
  margin: 0 auto;
  margin-top: 5%;
  font-family: 'Yellowtail', cursive;
}
.innerFrame{
  background-color: #e74c3c;
  /*border-radius: 1%;*/
  height: 100%;
}
h1{
  font-size: 20em;
  margin: 0 auto;
  color: #f39c12;
  text-shadow: 4px 10px #34495e;
  text-align: center;
}
p{
  color: #7f8c8d;
}
/*.vertical-text {
	transform: rotate(45deg);
	transform-origin: left top 0;
  position: absolute;
  top: 130px;
  left: 440px;
}*/
