body{
  font-family: 'Pacifico', cursive;
}

.row {
  display: flex;
}

.col {
  flex: 1;
  padding: 1em;
  border: solid;
  font-family: 'Open Sans', sans-serif;
}

.pic{
  padding-left: 5%;
  background-color: #5B5B66;
}

.navbar a{
  color: #000000;
}
