body{
  font-family: 'Pacifico', cursive;
  background-color: #BEC5AD;
}

.row {
  display: flex;
}

.col {
  flex: 1;
  padding: 1em;
  border: solid;
  font-family: 'Open Sans', sans-serif;
}

.pic{
  background-color: #103900;
}

.info{
  background-color: #FFFFFF;
}

.centered {
  /*background-color: #3B1C32;*/
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  margin: 0 auto;
  border-radius: 10px;
  max-width: 60%;
  padding: 40px;
  margin: 40px auto;
  display: flex;
  align-items: center;
  width: 95%;
}


.navbar a{
  color: #000000;
}
