/* COLOR PALETTE
  #A4B494
  #3B5249
  #519872
  #103900
*/


body{
  font-family: 'Pacifico', cursive;
  background-color: #BEC5AD;
}

.row {
  display: flex;
}

.col {
  flex: 1;
  font-family: 'Open Sans', sans-serif;
}

.morePics{
  margin-top: 5%;
  /*padding-left: 10%;*/
  border: 1px solid red;
  width: 10wh;
}

.info{
  background-color: #FFFFFF;
  font-size: 1em;
  border-radius: 20px;
}

.options{
  font-size: .5em;
  height: 10vh;
  border-top: 1px solid #AAAAAA;
  margin-top: 15%;
  padding-top: 10%;
}

.centered {
  background-color: #103900;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 85vh;
  padding: 40px;
  width: 65vw;
}

.navbar{
  padding-top: 1%;
  background-color: #519872;
  border-color: #519872;
}

.navbar a{
  color: #000000;
}
