body{
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
.navbar-default{
  background-color: #ffffff;
  border-color: #ffffff;
}
h1{
  font-family: 'Shrikhand', cursive;
  color: #ADEEE3;
}
