body{
  font-family: 'Roboto', sans-serif;
}
h1{
  display: inline-block;
  font-family: 'Shrikhand', cursive;
  /*margin-right: 5%;*/
}
h5{
  /*display: inline-block;*/
  font-family: 'Open Sans', sans-serif;
}
ul{
  list-style: none;
  /*display: inline-block;*/
}
a{
  display: inline;
}
.brand{
  border: 2px solid red;
}
.tag{
  border: 2px solid green;
  padding: 2% 0 1% 5%;
  text-align: center;
}
.links{
  border: 2px solid purple;
  padding: 2% 0 1% 0;
}
