body{
  box-sizing: border-box;
  font-family: 'Poiret One', cursive;
  background: #a87983; /* Old browsers */
  background: -moz-linear-gradient(top,  #a87983 0%, #960378 44%, #6d0019 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #a87983 0%,#960378 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #a87983 0%,#960378 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a87983', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

hr{
  border-color: #65002D;
}
.left{
  height: 50vh;
}
.right{
  height: 50vh;
}
p{
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}
h1{
  text-align: center;
  margin-bottom: 1%;
  margin-top: 0;
}
img{
  margin: 0 auto;
  display: block;
}
img:before{
  position: absolute;
  content: '';
  background: rgba(0,0,0, 0.5); /*partially transparent image*/
  width: 200px;
  height: 200px;
  pointer-events: none;
}
.navbar{
  background-color: #730027;
  border-color: #730027;
}
