body{
  box-sizing: border-box;
  font-family: 'Poiret One', cursive;
}

img{
  width: 25%;
}
.left{
  background: #f8a63f;
  height: 100vh;
  width: 48%;
  border: 3px solid black;
}
.right{
  background: #a83d32;
  height: 100vh;
  border: 3px solid green;
}
