body{
  background-color: #9F2042;
  font-family: 'Audiowide', cursive;
}
.first,
.second,
.third
{
  text-align: center;
  display: inline-block;
  margin-top: 2%;
  top: 50%;
  left: 50%;
  color: #D10000;
  text-shadow: -10px 0 #3E000C, 0 1px #3E000C, 1px 0 #3E000C, 0 -1px #3E000C;
}
.page{
  display: block;
  text-align: center;
}
.first{
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
}
.second{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}
.third{
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
}
.firstTwo{
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
}
.secondTwo{
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
}
.thirdTwo{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}
h1{
  font-size: 15em;
  text-shadow: -10px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}
h4{
  color: #700548;
  text-shadow: -10px 0 #000000, 0 1px #000000, 2px 0 #000000, 0 -1px #000000;
  font-size: 4em;
}
h5{
  color: #EA1744;
  text-shadow: -3px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
  font-size: 1.4em;
}
.navbar{
  background-color: #9F2042;
  border-color: #9F2042;
}

.navbar a{
  color: #D10000;
}
