body {
    font-family: 'Josefin Sans', sans-serif;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.fa {
  color: #000000;
  border: 1px solid black;
  border-radius: 15%;
  padding: 1%;
  height: 9vh;
  width: 8vw;
}

#social-ln:hover {
  color: #0077B5;
  border: 1px solid #0077b5;
}

#social-fb:hover {
  color: #4078C0;
  border: 1px solid #4078C0;

}

#social-gp:hover {
  color: #D34836;
  border: 1px solid #D34836;

}

#social-em:hover {
 color: #f39c12;
 border: 1px solid #f39c12;

}

#social-ffc:hover {
  color: #006400;
  border: 1px solid #006400;
}

#social-cp:hover {
  color: #000000;
  border: 1px solid #000000;
}

#social-tw:hover{
  color: #0082B2;
  border: 1px solid #0082B2;
}

#social-sl:hover{
  color: #2AB27B;
  border: 1px solid #2AB27B;
}

#social-sh:hover{
  color: #D7AE00;
  border: 1px solid #D7AE00;
}

#social-rd:hover{
  color: #CEE3F8;
  border: 1px solid #CEE3F8;
}
#social-pi:hover{
  color: #BB0F23;
  border: 1px solid #BB0F23;
}
