/*COLOR PALETTE
#343330
#DDDBCB
*/


body{
  font-family: 'Sansita', sans-serif;
  background-color: #050505;
}

h2{
  color: #0081AF;
}

.display{
  width: 50vw;
  margin: 0 auto;
}

.main{
  border: 1px solid #AAAAAA;
  border-radius: 20px;
  width: 70%;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.convo{
  background-color: #FE886E;
  height: 10vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.leftDetails{
  font-size: .9em !important;
  margin-left: 4%;
  margin-top: 4%;
  float: left;
  color: #FFFFFF;
}

.rightDetails{
  font-size: .9em !important;
  margin-right: 4%;
  margin-top: 4%;
  float: right;
  color: #FFFFFF;
}

.person1{
  background-color: #FE886E;
  float: right;
  border-radius: 5px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 5% 15% 0 0;
  padding: 1% 0 2% 0;
  width: 50%;
  font-family: 'Open Sans', sans-serif;
}

.icon{
  height: 5vh;
  border-radius: 50px;
  display: inline;
}

.icon1{
  float: right;
  clear: both;
  width: 3vw;
  position: relative;
  bottom: 40px;
  margin-right: 2%;
}

.icon2{
  float: left;
  width: 3vw;
  position: relative;
  bottom: 65px;
  margin-left: 2%;
}

.person2{
  background-color: #E0E0E0;
  border-radius: 5px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  margin: 5% 15% 0% 15%;
  padding-top: 2%;
  width: 50%;
  clear: right;
  font-family: 'Open Sans', sans-serif;
}

.navbar{
  background-color: #050505;
  border-color: #050505;
  padding-top: 1.5%;
}

.navbar a {
  color: #0081AF;
}
