button{
  position:relative;
  top:50%;
  left:50%;
  margin-top: 5%;
}
.btn, .btn-defualt{
  background-color: #FF1053;
  border-color: #FF1053;
}
.ChangeFont{
  visibility: hidden;
  margin-top: 5%;
}
ul{
  list-style: none;
}
.fontTypes{
  width: 45%;
  margin-top: 5%;
  position: relative;
  top: 60%;
  left: 40%;
}
.indie{
  font-family: 'Indie Flower', cursive;
  font-size: 1.4em;
}
.ranga{
  font-family: 'Ranga', cursive;
  font-size: 1.4em;
}
.ravi{
  font-family: 'Ravi Prakash', cursive;
  font-size: 1.4em;
}
.raleway{
  font-family: 'Raleway', sans-serif;
  font-size: 1.4em;
}
.cormorant{
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.4em;
}


.scheme1{
  background-color: #C6C5B9;
  /*#310A31
  #62929E
  #4A6D7C
  #475657*/
}
