button{
  position:relative;
  top:50%;
  left:50%;
  margin-top: 5%;
}
.btn, .btn-defualt{
  background-color: #FF1053;
  border-color: #FF1053;
}
/*.showHide{
  visibility: visible;;
}*/
.ChangeFont{
  visibility: hidden;
}

/*font-family: 'Ravi Prakash', cursive;

font-family: 'Ranga', cursive;
font-family: 'Indie Flower', cursive;*/

.font1{
  font-family: 'Raleway', sans-serif;
}
.font2{
  font-family: 'Cormorant Garamond', serif;
}


.scheme1{
  background-color: #C6C5B9;
  /*#310A31
  #62929E
  #4A6D7C
  #475657*/
}
